<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header">
        <!-- /. tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body pad">
        <p class="text-danger"><% if(typeof error_msg != 'undefined'){ %> <%= error_msg %> <% } %></p>
        <form method="POST" action="/admin/page_manager/add_category">
          <div class="col-md-6">
          <div class="input-group input-group-sm">
            <input class="form-control" type="text" placeholder="Category Name" name="category_name">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-info btn-flat">Save</button>
                </span>
          </div>
        </div>
        </form>
      </div>
    </div>
    <!-- /.box -->
    </div>
    </div>
