<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header">
        <!-- tools box -->
        <div class="pull-right box-tools">
          <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i></button>
          <!--<button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fa fa-times"></i></button>-->
        </div>
        <!-- /. tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body pad">
        <p class="text-danger" id="error_list1"><% if(typeof error_msg != 'undefined'){ %> <%= error_msg %> <% } %></p>
        <form method="POST" action="/admin/menu_manager/add" id="menu_add_form1">
          <div class="form-group">
            <label for="title">Menu Name:</label>
            <input type="text" class="form-control" name="name" id="menu_name1">
          </div>

            <div class="form-group"><button type="submit" class="btn btn-success" id="submit_menu_add">Save</button></div>

        </form>
      </div>
    </div>
    <!-- /.box -->
    </div>
    </div>
